<!DOCTYPE html>
<html>
<head>
  @{
  Layout = "_Layout";
}
</head>
<body>
  <div class="container">
    <h4>Album Details </h4>

    <h5>@Model["album"].Title</h5>
    <h5>@Model["album"].Artist</h5>
    <p>Genre: @Model["genre"].Descrip</p>

    <a href='/genres/@Model["genre"].Id/albums/new'>Add an Album</a>
    <a href='/genres'>Back to Genre List</a>
  </div>
</body>
</html>