<!DOCTYPE html>
<html>
<head>
  @{
  Layout = "_Layout";
}
</head>
<body>
<h1>Album Details </h1>

<h2>@Model["album"].Title</h2>
<h3>@Model["album"].Artist</h3>
<h4>Genre: @Model["genre"].Descrip</h4>

<a href='/genres/@Model["genre"].Id/albums/new'>Add an Album</a>
<a href='/genres'>Back to Genre List</a>
</body>
</html>