body {
  font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    padding: 5% 0 0 0;
  }
  
  h1 {
    padding: 2% 0;
  }
  
  div#header {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:rgb(255, 243, 217);
    background:rgb(7, 0, 0);
    padding:8px;
  }

  .bumtun:hover {
    background-color:crimson;
    color:rgb(236, 236, 236);
  }

  .column {
    float:right;
    width:10%;
  }

  .column a {
    color:rgb(238, 235, 228);
  }

  .column a:hover {
    color:crimson;
    text-decoration: none;
  }