<!DOCTYPE html>
<html>
<head>
  @{
  Layout = "_Layout";
}
</head>
<body>
<h1>Add a Genre List</h1>

<form action="/genres" method="post">
  <label for="genreDescrip">Genre</label>
  <input id="genreDescrip" name="genreDescrip" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/genres">Back to Genre Library</a></p>
</body>
</html>